<!-- View Modal de Categorias.. -->
@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

<!-- CSS -->
@section styles {
    <style>

    </style>
}

<!-- Script -->
@section scripts {
    <script src="~/js/Views/CadastroProdutos/Index.js"></script>
    <script> </script>
}

<div class="modal fade" role="dialog">
    <h1>Categoria</h1>
</div>